#game {
    padding:0;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:768;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #404060;
}
button {
  font-size: 30px;
}

#camera {
    position: fixed;
    z-index: 6666;
    top: 20px;
    right: 20px;
    opacity: 0.9;
}

#death_4th_wall {
  position: absolute;
  top: 0;
  left: 0;
}
